body
{
    background-color: pink;
    color: rgb(47, 154, 255);
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;

    background-image: linear-gradient( 90deg, pink, rgb(0, 255, 128));
}

h1{ font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    }
   
    h2{ font-size: 25px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        }

#tituloprincipal{
color: cornflowerblue;
font-size: 30pt;
font-family: Arial, Helvetica, sans-serif
    }

a{
    text-decoration: none;
    color: darkslategray;
}

#titulodicas{
    color: orange;
}

.paragrafo2{
    color: black;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafo3{
    color: black;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}



.site{
    color: crimson;
    font-size: 14pt;
font-family: Arial, Helvetica, sans-serif;
}
